body {
  background-image: linear-gradient(to bottom, #91e3fa 0%, #0153d6 100%);
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}

h1 {
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 70px;
  font-family: "Playfair Display", serif;
}

h2 {
  text-align: center;
  color: purple;
  font-size: 45px;
  font-family: "Playfair Display", serif;
}

h3 {
  text-align: left;
  color: purple;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

article {
  font-size: 6em;
  color: #0153d6;
  font-weight: bolder;
  padding: 0;
}

p {
  text-align: center;
  font-size: 40px;
  border: 5px solid purple;
  box-shadow: 5px 10px #0153d6;
  color: #68c2f7;
  font-family: "Playfair Display", serif;
}

footer {
  text-align: right;
  font-size: 1.5em;
  color: #68c2f7;
  font-family: "Playfair Display", serif;
}

.header {
  position: relative;
  background: rgb(116, 246, 255);
  background-image: url("../weather_images/fluffy-clouds2.jpg");
  width: 100%;
  background-size: cover;
  padding: 1em;
}

.btn {
  font-family: "Playfair Display", serif;
  margin-left: 0.5em;
  box-shadow: 1px 1px #0153d6;
}

.btn-info {
  box-shadow: 1px 1px #02899b;
}

.city-name {
  text-align: left;
  color: purple;
  font-size: 35px;
  font-family: "Playfair Display", serif;
}

.current {
  margin: 10px 10px 10px 30px;
}

.measurement {
  font-size: 40px;
}

.measurement:visited {
  color: rgba(1, 83, 214, 1);
  text-decoration: none;
  decoration: none;
}

.current-temps {
  font-size: 1.5em;
  color: purple;
  text-align: justify;
}
.current-temps-font {
  font-family: "Playfair Display", serif;
}

.weekly {
  color: purple;
  font-size: 2em;
  margin: 1.5em 0.5em 0;
}
.weekly-symbols {
  display: block;
  top: -30px;
  width: 60px;
  padding-top: 40px;
}
.description {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.descSm {
  display: none;
}
.day {
  text-align: left;
  padding-top: 8px;
  font-family: "Playfair Display", serif;
}
.hi {
  text-align: center;
  padding-top: 8px;
}
.low {
  text-align: center;
  padding-top: 8px;
}
.git {
  text-align: right;
  font-size: 1.1em;
  color: #68c2f7;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}
.git:hover {
  color: #54a2cf;
}
@media only screen and (min-width: 1001px) {
  .main-image {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0;
    padding: 20px 0;
    float: right;
  }
  .hi {
    margin-left: 130px;
  }
}
.weather-container {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 1000px) {
  .main-image {
    display: flex;
    flex-direction: row;
    max-width: 350px;
    margin: 0;
    padding: 0;
    float: left;
    width: 40%;
  }

.weather-container {
  display: flex;
  flex-direction: column;
}
}
@media only screen and (max-width: 600px) {
  .weather-container {
    flex-direction: column;
  }
  .main-image {
    display: block;
    max-width: 400px;
    margin: 0;
    padding: 0 0 50px 0;
    float: left;
  }
  .current-image {
    display: none;
  }
  .weekly {
    color: purple;
    font-size: 2em;
    margin: 1.5em 6em 0;
  }
  .day {
    text-align: right;
    padding-top: 8px;
    font-style: italic;
    font-family: "Playfair Display", serif;
  }
  .weekly-symbols {
    display: none;
  }
  .description {
    display: none;
  }
  .descSm {
    display: inline;
    text-align: center;
    padding-left: 20px;
    font-size: 25px;
  }
  .hi {
    margin-left: 0;
  }
}
